/*
Author: Mike King (@micjamking)
*/


/* General Page Layout */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html{
  height: 100%;
  background: #eee8da url('../images/canvas-pattern.jpg') repeat fixed 0 0;
}

body{
  background: url('../images/hawaii-background-1.jpg') no-repeat fixed center 84px;
  font-family: 'OpenSansRegular', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #63432a;
}


/* HTML5 Tags */
header, section, footer, aside, article, nav, figure{
  display: block;
}

/* MyFonts Webfont */
@font-face {font-family: 'Museo-700';src: url('../fonts/museo/1BE773_0_0.eot');src: url('../fonts/museo/1BE773_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo/1BE773_0_0.woff') format('woff'),url('../fonts/museo/1BE773_0_0.ttf') format('truetype'),url('../fonts/museo/1BE773_0_0.svg#wf') format('svg');}

@font-face {font-family: 'Museo-300';src: url('../fonts/museo/1BE773_1_0.eot');src: url('../fonts/museo/1BE773_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo/1BE773_1_0.woff') format('woff'),url('../fonts/museo/1BE773_1_0.ttf') format('truetype'),url('../fonts/museo/1BE773_1_0.svg#wf') format('svg');}

@font-face {font-family: 'Museo-500';src: url('../fonts/museo/1BE773_2_0.eot');src: url('../fonts/museo/1BE773_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo/1BE773_2_0.woff') format('woff'),url('../fonts/museo/1BE773_2_0.ttf') format('truetype'),url('../fonts/museo/1BE773_2_0.svg#wf') format('svg');}

@font-face {font-family: 'MuseoSlab-500';src: url('../fonts/museo/1BE9BE_0_0.eot');src: url('../fonts/museo/1BE9BE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo/1BE9BE_0_0.woff') format('woff'),url('../fonts/museo/1BE9BE_0_0.ttf') format('truetype');}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 31, 2011 */
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Containers */
#container01{
  background: url('../images/header-bg.png') repeat-x center top;
  height: 144px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#container02{
  width: 960px;
  margin: 0 auto;
  min-height: 900px;
}


/* Markup Tags */
h1#title{
  font-family: 'MuseoSlab-500', 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 60px;
  color: #b12731;
  text-align: center;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
  padding: 144px 0 0;
}

h2,h3,h4,h5,h6{
  font-family: 'Museo-500', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #63432a;
}

header{
  width: 960px;
  height: 144px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

header nav{
  margin: 0 auto;
  width: 920px;
}

header nav ul li{
  list-style: none;
  display: inline;
  padding: 5px 12px;
  margin: 0 10px;
}

header nav ul#rightLinks{
}

header nav ul#leftLinks{
}

header nav ul li a{
  font-family: 'Museo-700';
  font-size: 18px;
  color: #bf7334;
  text-decoration: none;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

header nav ul li.current{
    background: rgb(89, 18, 2); /* The Fallback */
    background: rgba(89, 18, 2, 0.45);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0, 0.5);
  box-shadow: 1px 1px 0px 0px rgba(255,255,255, 0.2);
  -moz-box-shadow: 1px 1px 0px 0px rgba(255,255,255, 0.2);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255, 0.2);
  height: 28px;
  border-radius: 13px;
}

header nav ul li a:hover, header nav ul li.current a{
  color: #e5c1a2;
}


ul#rightLinks, #logo, ul#leftLinks{
  float: left;
}

ul#rightLinks, ul#leftLinks{
  width: 361px;
  margin: 30px 0 0;
}

a{
  text-decoration: none;
  color: #bf7334;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

footer{
  background: url('../images/footer-bg.png') repeat-x center bottom;
  height: 144px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

#footer{
  margin: 69px auto 0;
  width: 960px;
  font-family: 'Museo-700';
  font-size: 12px;
  color: #d57130;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
  text-align: center;
}

#footer div.socialMedia{
  width: 255px;
  margin: 0 auto 20px;
  text-align: left;
}

div.twitter, div.google, div.twitter p, div.google p{
  float: left;
}

div.twitter p, div.google p{
  padding: 8px 0 0;
  margin: 0 10px 0 0;
}

div.twitter{
  margin: 0 30px 0 0;
}

#footer div.socialMedia a.twitter{
  background: url('../images/twitter-icon.png') no-repeat 0 0;
  width: 37px;
  height: 0;
  padding: 28px 0 0;
  overflow: hidden;
  display: block;
}

#footer div.socialMedia a.googlePlus{
  background: url('../images/google-icon.png') no-repeat 0 0;
  width: 30px;
  height: 0;
  padding: 30px 0 0;
  overflow: hidden;
  display: block;
}

#footer div#copyright {
  text-align: top;
  margin-top: -20px;
}

#footer div#copyright img {
  position: relative;
  display: inline;
  top: 10px;
}


/* ID's */
#logo{
  text-align: center;
  width: 198px;
  margin: 0 auto;
}

#registrationBanner{
  background: url('../images/register-banner.png') no-repeat 0 0;
  position: fixed;
  height: 0;
  width: 140px;
  padding: 140px 0 0;
  overflow: hidden;
  z-index: 3;
  top: 0;
  right: -7px;	
	display: none;
}

#registrationAvailable, #speakerSignUp, #sponsorSignUp, #location, .content_box, .contentBox{
  padding: 20px;
  margin: 0 0 40px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, .70);
  /*background: url('../images/content-bg.png') repeat 0 0;*/
}

#featureContent{
  margin: 0 0 40px;
}

#featureContent img{
  position: relative;
  left: -37px;
  top: 13px;
  z-index: 0;
  float: left;
  margin: 0 20px 0 0;
}

#conferenceInfo{
  padding: 53px 0 0;
}

#conferenceInfo h2.time{
  font-family: 'Museo-300';
  font-weight: normal;
  font-size: 30px;
  color: #FFFFFF;
  margin: 0 0 5px;
}

#conferenceInfo h3.location{
  font-family: 'Museo-300';
  font-weight: normal;
  font-size: 42px;
  color: #bf7334;
  margin: 0 0 5px;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
}

#conferenceInfo h4.place{
  font-family: 'Museo-300';
  font-weight: normal;
  font-size: 21px;
  color: #63432a;
  margin: 0 0 15px;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
}

#registrationButton, .registrationButton{
    margin: 10px auto 0;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#registrationButton span, .registrationButton span {
  display: block;
    text-align: center;
    font-size: 28px;
    font-family: 'Museo-700', sans-serif;
    color: #531618;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
    background: #8a2227;
    background: -webkit-gradient(linear, left top, left bottom, from(#9b232b), to(#782123));
    background: -moz-linear-gradient(top, #9b232b, #782123);
    -webkit-box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    -moz-box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 8px 18px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#registrationButton span:hover, .registrationButton span:hover{
  display: block;
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(19, 65, 88, .8);
}

#registrationButton span:active, .registrationButton span:active{
  display: block;
    -webkit-transition: -webkit-transform 0s ease-in-out;
    -moz-transition: -moz-transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
    -webkit-box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
}


#registrationButton:active span, .registration_button:active span{
  display: block;
  -webkit-transform: translate(0,8px);
  -moz-transform: translate(0,8px);
  transform: translate(0,8px);
  -webkit-transition: -webkit-transform 0s ease-in-out;
  -moz-transition: -moz-transform 0s ease-in-out;
  transition: transform 0s ease-in-out;
}

.buttonContainer {
  width: 620px;
  margin: auto;
  margin-bottom: 80px;
}

#google {
  margin-right: 24px;
}

#mainContent{
  padding: 0 0 150px;
}

#mainContent.sub{
  margin: 40px 0 0;
}

#mainContent ul{
  padding-left: 20px;
  margin-bottom: 20px;
}

#mainContent p{
  color: #63432A;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.5);
  margin: 0 0 20px;
}

#registrationAvailable h3, #location h2#title, .registrationContent h3, .speakerContent h3{
  font-family: 'Museo-300';
  font-size: 36px;
  color: #bf7334;
  margin: 0 0 25px;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
}

.speakerContent h3{
	padding: 0 0 0 50px;
}

#registrationAvailable h3{
  background: url('../images/icon-registration.png') no-repeat 0 7px;
  padding: 0 0 0 50px;
}

#location h2#title{
  background: url('../images/icon-location.png') no-repeat 0 7px;
  padding: 0 0 0 30px;
}

a.learnMore{
  background: url('../images/arrow.png') no-repeat 95px 5px;
  font-size: 16px;
  color: #bf7334;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
  display: block;
  width: 120px;
  float: right;
  text-decoration: none;
}

.sponsorships {
  padding: 20px;
  margin: 0 0 40px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, .70);
}

.mini-sponsorships {
  padding: 20px;
  margin: 0 0 40px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, .70);
  height: 150px;
}

.mini-sponsorships h3 {
  font-size: 22px;
}
.sponsor-photo {
  float: left;
  width: 250px;
}

.sponsor {
  float: left;
  width: 300px;
  height: 300px;
}

.sponsorships h3 {
   font-family: 'Museo-300';
   font-weight: normal;
   font-size: 30px;
   color: #bf7334;
   margin: 0 0 5px;
   text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
}

.sponsor-desc {
  width: 700px;
}

#speakerSignUp{
  margin: 0 30px 0 0;
}

#speakerSignUp, #sponsorSignUp{
  width: 422px;
  float: left;
}

#speakerSignUp h4, #sponsorSignUp h4{
  font-family: 'Museo-300';
  font-size: 28px;
  color: #bf7334;
  margin: 0 0 25px;
  padding: 0 0 0 50px;
  text-shadow: 1px 2px 0px rgba(255,255,255, 0.4);
}

#speakerSignUp h4{
  background: url('../images/icon-speakers.png') no-repeat 0 7px;
}

#sponsorSignUp h4{
  background: url('../images/icon-sponsors.png') no-repeat 0 7px;
}

#mainContent.sub #registrationAvailable h4{
  margin: 10px 0;
  color: #bf7334;
}

/* Location Page Styles */
#location .details{
  float: left;
  width: 480px;
}

#location .details h3{
  font-size: 21px;
  margin: 0 0 10px;
}

#location .map{
  float: right;
}

#location #registrationButton{
  margin: 20px 0 20px;
}

#location ul{
  margin: 20px 20px;
}
#location pre{
  height: 94px;
}

#location .note table{
  margin-bottom: 20px;
}

#location table td.gutter pre.line-numbers {
  padding-top: 7px;
  width: 15px;
  line-height: 10px;
}

#location table td.gutter pre.line-numbers span.line-number {
  display: inherit;
  width: 12px;
}

#location table td.code span.line {
  display: block;
  font-family: monospace;
  padding-top: 2px;
  line-height: 18px;
}

.quote{
  margin: 30px 0 0;
  float: right;
  width: 400px;
}

.locationAction {
  text-align: center;
}

/***************************
Speakers
***************************/
div.speaker{
  padding: 20px;
  border-bottom: 1px solid #ba9d86;
  border-top: 1px solid #FFFFFF;
  width: 580px;
}

div.speaker.first{
  border-top: 0 none;
}

div.speaker.last{
  border-bottom: 0 none;
}

img.speaker{
  float: left;
  width: 150px;
  height: 150px;
  margin: 0 20px 0 0;
}

.name, .session{
        padding: 0 0 10px
}

div.speaker-content{
  float: left;
  width: 400px;
}

.socialmedia p{
  margin: 0 0 10px !important;
}

/******************************
Wufoo Form Theme
*******************************/

@-webkit-keyframes pulse{
	0% {
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	}
	50% {
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
	}
	100% {
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	}
}

.wufoo {
	font-family: 'OpenSansRegular', 'Lucida Grande', Helvetica, Arial, sans-serif;
	letter-spacing: .01em;
	font-size: 16px;
	color: #63432a !important;
	text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.5);
}

form.wufoo ul li h3, #registrationAvailable form.wufoo ul li h3{
	background: 0 none !important;
	font-weight: normal;
	font-size: 21px;
	line-height: 135%;
	margin: 0 0 3px 0;
	width: auto;
}

#registrationAvailable form li.section div{
	padding: 0;
	margin: 0;
}

form.wufoo {
    border-top: 2px solid rgba(255, 255, 255, .4);
    padding: 1em 0 1em;
}

form.wufoo ul li input, form.wufoo ul li textarea{
    display: block;
    float: left;
    font-family: inherit;
    font-size: inherit;
    padding: 0.2em 0.5em;
    margin: 0 10px 0 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255,255,255,0.75);
    -webkit-box-shadow: inset 2px 2px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 2px 2px 0px rgba(0,0,0,0.15);
    box-shadow: inset 2px 2px 0px rgba(0,0,0,0.15);
    border: 0 none;
    color: #BF7334;
}

form.wufoo ul li input:focus, form.wufoo ul li textarea:focus{
	background: rgba(255,255,255,0.90);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
	-webkit-animation: pulse 2s infinite ease-in-out;
}

label.desc, legend.desc{
	color: #63432a !important;
	text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.5);	
}

textarea.textarea {
	width: 450px;
	min-width: inherit !important;
	max-width: inherit !important;
}

form li.section {
	padding: 0 !important;
}

form li#foli141{
	width: 100%;
	padding: 0 0 30px;
	border-bottom: 2px solid rgba(143, 127, 110, .4);	
}

form li.section h3, #registrationAvailable form li.section h3{
	padding: 20px 0 0;	
    border-top: 2px solid rgba(255, 255, 255, .4);
}

form li#foli111 div label, form li#foli111 span label {
	font-size: 12px;
}

#mainContent p.instruct{
	margin: 30px 0 0;
	z-index: 0 !important;
}

#submit{
    /*min-width: 316px;*/
    margin: 30px auto 0;
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    box-shadow: 0 8px 0 #531618,  0 10px 10px rgba(0, 0, 0, .75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#submit #saveForm{
    text-align: center;
    font-size: 28px;
    font-family: 'Museo-700', sans-serif;
    color: #531618;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
    background: #8a2227;
    background: -webkit-gradient(linear, left top, left bottom, from(#9b232b), to(#782123));
    background: -moz-linear-gradient(top, #9b232b, #782123);
    -webkit-box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    -moz-box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    box-shadow: inset 0 2px 1px rgba(242, 65, 80, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0 none;
    outline: none;
    margin: 0 auto;
    padding: 8px 18px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#submit #saveForm:hover{
    color: #FFFFFF;
    text-shadow: 0 -1px 1px rgba(19, 65, 88, .8);
}

#submit #saveForm:active{
    -webkit-transition: -webkit-transform 0s ease-in-out;
    -moz-transition: -moz-transform 0s ease-in-out;
    transition: transform 0s ease-in-out;
    -webkit-box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 0 #531618,  0 8px 15px rgba(0, 0, 0, .5);
}


#submit:active #saveForm{
  -webkit-transform: translate(0,8px);
  -moz-transform: translate(0,8px);
  transform: translate(0,8px);
  -webkit-transition: -webkit-transform 0s ease-in-out;
  -moz-transition: -moz-transform 0s ease-in-out;
  transition: transform 0s ease-in-out;
}

form li.focused {
	background: 0 none;
}

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
display: none !important;
}


/***************************
Classes
***************************/

.clear{
  clear: both;
}

.speaker-wrapper {
  margin-bottom: 40px;
}

img.speaker, .speaker-info {
  float: left;
}

img.speaker {
}

.speaker-info {
  float: left;
  width: 700px;
  margin-left: 24px;
}

.speaker-info .name {
  font-size: 24px;
  font-weight: bold;
}

.speaker-info .session {
  font-size: 20px;
  font-weight: bold;
}
