<footer>
	<section id="footer">
		<div class="socialMedia">
			<div class="twitter"><p>Twitter:</p> <a class="twitter" href="http://twitter.com/#!/aloharubyconf">@aloharubyconf</a></div>
			<div class="google"><p>Google Plus:</p> <a class="googlePlus" href="https://plus.google.com/103300205014129411442">Aloha Ruby Conference</a></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<p class="copyright">&copy; 2011 Aloha Ruby Conference LLC. All Rights Reserved.</p>
	</section>
</footer><!-- End of Footer -->
