<footer>
	<section id="footer">
		<div class="socialMedia">
			<div class="twitter"><p>Twitter:</p> <a class="twitter" href="http://twitter.com/#!/aloharubyconf">@aloharubyconf</a></div>
			<div class="google"><p>Google+:</p> <a class="googlePlus" href="https://plus.google.com/103300205014129411442">Aloha Ruby Conference</a></div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
    <div id="copyright">&copy; 2011 Aloha Ruby Conference LLC. All Rights Reserved.&nbsp;&nbsp;&nbsp;Special thanks to: Ruby Central&nbsp;&nbsp;<%= link_to image_tag("../images/Ruby-Central-Footer.png"), "http://rubycentral.org" %></div>
	</section>
</footer><!-- End of Footer -->
