<% @event.sponsorship_levels.each do |sponsorship_level| %>
  <h3><%= sponsorship_level.name %> Sponsors</h3>
  <ul class="sponsors">
    <% sponsorship_level.sponsors.each do |sponsor| %>
      <li><%= sponsor.name %></li>
    <% end %>
  </ul>
<% end %>
<p>Interested in Sponsoring the Aloha Ruby Conference?<br />
<a href="#">Download the Prospectus</a><br />
or <a href="mailto:sponsors@aloharubyconf.com">contact us</a> for more info!</p>
