<section id="mainContent" class="sub">
	<section class="contentBox speakerContent">
		<h3>Call for Proposals</h3>
		<div class="proposalContent">
			<p>Aloha Ruby Conference is now accepting proposals for talks. Aloha Ruby Conference 2012 happens on October 8-9 in Honolulu, Hawaii at the Sheraton Waikiki.</p>
			<p>Proposals will be accepted until Saturday 3/31/2012 at midnight PDT. Proposals are reviewed on a rolling basis as they are submitted.</p>
			<p>Talks will be 45 minutes with no extra time for questions. Remember that nearly all our attendees use Ruby daily, so talks should be targeted to an audience of intermediate or advanced Rubyists. Non-Ruby topics are acceptable if they are somehow related to Ruby, or just seriously awesome.</p>
			<p>If your talk is selected you will receive a free pass to attend the conference and get some special speaker swag too. At that point we’ll need a photo of you for the website and program.</p>
			<p>Please send any questions to email <a href="mailto:speak@aloharubyconf.com">speak@aloharubyconf.com</a></p>
		</div>
		
		<form id="form1" name="form1" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://aloharubyconf.wufoo.com/forms/z7x3k1/#public">
		<ul>
			<li id="foli153" class="notranslate first section">
				<section>
					<h3 id="title153">Speaker Info</h3>
				</section>
			</li>
			
			<li id="foli0" class="notranslate">
				<label class="desc" id="title0" for="Field0">Name
					<span id="req_0" class="req">*</span>
				</label>
				<span>
					<input id="Field0" name="Field0" type="text" class="field text fn" value="" size="8" tabindex="1" required />
					<label for="Field0">First</label>
				</span>
				<span>
					<input id="Field1" name="Field1" type="text" class="field text ln" value="" size="14" tabindex="2" required />
					<label for="Field1">Last</label>
				</span>
				<p class="instruct" id="instruct0"><small>Your full name</small></p>
			</li>
			
			<li id="foli6" class="notranslate">
				<label class="desc" id="title6" for="Field6">Email
					<span id="req_6" class="req">*</span>
				</label>
				<div>
					<input id="Field6" name="Field6" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" required /> 
				</div>
				<p class="instruct" id="instruct6"><small>Your email address will only be shared with conference organizers.</small></p>
			</li>
			
			<li id="foli127" class="notranslate">
				<label class="desc" id="title127" for="Field127">Where do you live?
					<span id="req_127" class="req">*</span>
				</label>
				<div>
					<input id="Field127" name="Field127" type="text" class="field text medium" value="" maxlength="255" tabindex="4" onkeyup="" required />
				</div>
				<p class="instruct" id="instruct127"><small>City &amp; state. Or city &amp; country if not in USA.</small></p>
			</li>
			
			<li id="foli111" class="notranslate">
				<label class="desc" id="title111" for="Field111">Bio (for program and website)
					<span id="req_111" class="req">*</span>
				</label>
				<div>
					<textarea id="Field111" name="Field111" class="field textarea small" spellcheck="true" rows="10" cols="50"  tabindex="5" onkeyup="validateRange(111, 'word');" required  ></textarea>
					<label for="Field111">Maximum Allowed: <var id="rangeMaxMsg111">175</var> words.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg111">0</var> words.</em></label>
				</div>
				<p class="instruct" id="instruct111"><small>Tell us something about you. Why should people be excited to hear you speak? This will be part of the published schedule and program.  75-125 words.</small></p>
			</li>
			
			<li id="foli129" class="notranslate">
				<label class="desc" id="title129" for="Field129">Website, blog, etc.</label>
				<div>
					<input id="Field129" name="Field129" type="url" class="field text medium" value="" maxlength="255" tabindex="6" /> 
				</div>
			</li>
			
			<li id="foli131" class="notranslate">
				<label class="desc" id="title131" for="Field131">Twitter username</label>
				<div>
					<input id="Field131" name="Field131" type="text" class="field text medium" value="" maxlength="255" tabindex="7" onkeyup="" />
				</div>
			</li>
			
			<li id="foli133" class="notranslate">
				<label class="desc" id="title133" for="Field133">GitHub username</label>
				<div>
					<input id="Field133" name="Field133" type="text" class="field text medium" value="" maxlength="255" tabindex="8" onkeyup="" />
				</div>
			</li>
			
			<li id="foli139" class="notranslate">
				<label class="desc" id="title139" for="Field139">How many conferences have you spoken at before?
					<span id="req_139" class="req">*</span>
				</label>
				<div>
					<input id="Field139" name="Field139" type="text" class="field text medium" value="" maxlength="255" tabindex="9" onkeyup="" required />
				</div>
				<p class="instruct" id="instruct139"><small>How many conferences have you spoken at before?  Just let us know if you are a noob or an old hand. You can include meetups and user groups. “None” and “lots” are acceptable answers.</small></p>
			</li>
			
			<li id="foli141" class="notranslate">
				<label class="desc" id="title141" for="Field141">Are there videos of you speaking we can check out?</label>
				<div>
					<textarea id="Field141" name="Field141" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="10" onkeyup=""></textarea>
				</div>
				<p class="instruct" id="instruct141"><small>Links to YouTube, Confreaks, Vimeo, etc.  If we haven’t seen you speak before, this is a great way to show us what you can do.</small></p>
			</li>
			
			<li id="foli152" class="notranslate section">
					<section>
						<h3 id="title152">Talk Info</h3>
					</section>
			</li>
			
			<li id="foli5" class="notranslate">
				<label class="desc" id="title5" for="Field5">Title
					<span id="req_5" class="req">*</span>
				</label>
				<div>
					<input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="11" onkeyup="" required />
				</div>
			</li>
			
			<li id="foli8" class="notranslate">
				<label class="desc" id="title8" for="Field8">Description (for program)
					<span id="req_8" class="req">*</span>
				</label>
				<div>
					<textarea id="Field8" name="Field8" class="field textarea small" spellcheck="true" rows="10" cols="50" tabindex="12" onkeyup="" required  ></textarea>
				</div>
				<p class="instruct" id="instruct8"><small>Tell the attendees why they should want to see your talk. What are they going to learn?</small></p>
			</li>
			
			<li id="foli110" class="notranslate">
				<label class="desc" id="title110" for="Field110">Notes (for Reviewers)</label>
				<div>
					<textarea id="Field110" name="Field110" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="13" onkeyup=""></textarea>
				</div>
				<p class="instruct" id="instruct110"><small>Please give us any information beyond the Description above that would help evaluate the proposal. Why is this an awesome talk for Aloha Ruby Conference?</small></p>
			</li>
			
			<li id="foli155" class="notranslate">
				<label class="desc" id="title155" for="Field155">Is this a new talk?
					<span id="req_155" class="req">*</span>
				</label>
				<div>
					<textarea id="Field155" name="Field155" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="14" onkeyup="" required></textarea>
				</div>
				<p class="instruct" id="instruct155"><small>We very much prefer original material, but not exclusively. Please let us know if this talk has been given elsewhere, or has been submitted to another conference and is under consideration. Which conference, dates, is there video?</small></p>
			</li>
			
			<li class="buttons ">
				<div id="submit">
					<input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
				</div>
			</li>

			<li class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="VVHXkoCZrWL/M+7fygBodZSlOJ3hCO3ljKv8Est4xOM=" />
			</li>
		</ul>
	</form>

<!--<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
  var z7x3k1 = new WufooForm();
  z7x3k1.initialize({
      'userName':'aloharubyconf',
      'formHash':'z7x3k1',
      'autoResize':true,
      'height':'1557',
      'header':'show'
      });
z7x3k1.display();
</script>-->
<div class="clear"></div>
</section>
</section>


