<%= render :partial => 'shared/snippet', :locals => { :snippet_name => "sponsor_landing_content" } %>

<section id="mainContent" class="sub">
  <section class="contentBox sponsorContent">
  <h3>Sponsors</h3>
  <p>Sponsoring the Aloha Ruby Conference is a great way to get access to the top Ruby talent in the Pacific, and from around the world. Whether your goals are recruiting, brand awareness, developer adoption, or anything else, we bring together several hundred highly qualified engineers, in an intimate, network-heavy environment.<p>

  <p>To learn more about sponsoring, <a href="/assets/aloharuby-sponsorship_prospectus.pdf">download the prospectus</a> or contact us at <a href="mailto:sponsors@aloharubyconf.com">sponsors@aloharubyconf.com</a></p>
  <div class="clear"></div>
  </section>

</section><!-- End of Main Content -->
