<section id="mainContent" class="sub">
  <section class="contentBox speakerContent">
  <h3>Call For Proposals</h3>
  <p>Aloha Ruby conference is now accepting proposals for talks. If you have something awesome to share with us, submit a proposal online by March 31st.<p>


<p>
  <%= link_to 'Submit a new proposal', new_proposal_path %>
</p>
<p>
  <%= link_to 'View your proposals', proposals_path %>
</p>
<p><%= link_to 'Back to Home Page', root_path %></p>

