<section id="mainContent" class="sub">
<section class="contentBox speakerContent">
<h3>Call for Proposals</h3>
<p>Aloha Ruby Conference is now accepting proposals for talks. Aloha Ruby Conference 2012 happens on October 8-9 in Honolulu, Hawaii at the Sheraton Waikiki.</p>
<p>Proposals will be accepted until Saturday 3/31/2012 at midnight PDT. Proposals are reviewed on a rolling basis as they are submitted.</p>
<p>Talks will be 45 minutes with no extra time for questions. Remember that nearly all our attendees use Ruby daily, so talks should be targeted to an audience of intermediate or advanced Rubyists. Non-Ruby topics are acceptable if they are somehow related to Ruby, or just seriously awesome.</p>
<p>If your talk is selected you will receive a free pass to attend the conference and get some special speaker swag too. At that point we’ll need a photo of you for the website and program.</p>
<p>Please send any questions to email <a href="mailto:speak@aloharubyconf.com">speak@aloharubyconf.com</a></p>

<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

<script type="text/javascript">
  var z7x3k1 = new WufooForm();
  z7x3k1.initialize({
      'userName':'aloharubyconf',
      'formHash':'z7x3k1',
      'autoResize':true,
      'height':'1557',
      'header':'show'
      });
z7x3k1.display();
</script>
<div class="clear"></div>
</section>
</section>


