<section id="mainContent" class="home">
<section id="registrationAvailable">
<h3>Speakers</h3>
<div class='speaker-wrapper'>
  <img src='/images/aaron-patterson.png' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Aaron Patterson</div>
    <div class='session'>Keynote: TBA</div>
    <p>When he isn’t ruining people’s lives by writing software like
    phuby, enterprise, and neversaydie, Aaron can be found writing
    slightly more useful software like nokogiri. To keep up his
    Gameboy Lifestyle, Aaron spends his weekdays writing high
    quality software for ATTi. Be sure to catch him on Karaoke night,
    where you can watch him sing his favorite smooth rock hits of the
    70’s and early 80’s.</p>
    <p>twitter: <a href="https://twitter.com/#!/tenderlove">@tenderlove</a>  github: <a href="https://github.com/tenderlove">github.com/tenderlove</a> website: <a href="http://tenderlovemaking.com/">www.tenderlovemaking.com</a><p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/chad_fowler.png' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Chad Fowler</div>
    <div class='session'>TBA</div>
    <p>VP Engineering at LivingSocial, author, technologist, consultant, speaker, teacher, musician, organizer.</p>
    <p>twitter: <a href="https://twitter.com/#!/chadfowler">@chadfowler</a> website: <a href="http://chadfowler.com">chadfowler.com</a><p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/ilya-grigorik.jpg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Ilya Grigorik</div>
    <div class='session'>TBA</div>
    <p>Ilya Grigorik is a developer, an open-source and Ruby evangelist,
    a data-geek, and a proverbial early adopter of all things digital.
    Now living in the Bay Area, Ilya is working on Social Analytics at
    Google. Prior to joining Google, Ilya was founder and CTO of PostRank
    , a social web analytics company, which was acquired by Google
    earlier this year. Currently, in his free time Ilya is scheming on
    how to bring Ruby to Google!</p>
    <p>twitter: <a href="https://twitter.com/#!/igrigorik">@igrigorik</a>  github: <a href="https://github.com/igrigorik">github.com/igrigorik</a> website: <a href="http://igvita.com/">www.igvita.com</a><p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/matt-aimonetti.jpg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Matt Aimonetti</div>
    <div class='session'>TBA</div>
    <p>R&D Engineer at LivingSocial - Former Sony PlayStation developer.</p>
    <p>twitter: <a href="https://twitter.com/#!/merbist">@merbist</a>  github: <a href="https://github.com/mattetti">github.com/mattetti</a> website: <a href="http://merbist.com/">merbist.com</a><p>
    <p></p>
    <p></p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/mark_bates.jpeg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Mark Bates</div>
    <div class='session'>TBA</div>
    <p>Mark Bates is the founder and chief architect of the Boston, MA based consulting company, Meta42 Labs. Mark spends his days focusing on new application development and consulting for his clients. At night he writes books, raises kids, and occasionally he forms a band and “tries to make it”.</p>
    <p>Always wanting to share his wisdom, or more correctly just wanting to hear the sound of his own voice, Mark has spoken at several high profile conferences, include RubyConf and jQueryConf. Mark has also taught classes on Ruby and Ruby on Rails. In 2009 Mark’s first (surprisingly not his last!) book, “Distributed Programming with Ruby”, was published by Addison-Wesley. In 2012 Addison-Wesley published Mark’s second book, “Programming in CoffeeScript”.</p>
    <p>He lives just outside of Boston with his wife Rachel and their sons Dylan and Leo.</p>
    <p>Mark can be found at <a href="http://www.markbates.com">www.markbates.com</a> and <a href="http://github.com/markbates">github.com/markbates</a>.</p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/james_head_shot.png' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>James Edward Gray</div>
    <div class='session'>Ten Things You Didn't Know Ruby Could Do</div>
    <p>James Edward Gray II (@JEG2) was a Rubyist before it was cool to be one; that's before Rails shipped. He has been involved in almost every aspect of the Ruby community at some point from writing code and documentation to running conferences. These days you can catch him as a regular on the Ruby Rogues podcast. He also enjoys speaking at Ruby conferences, so that he has an excuse to go see places like Hawaii.</p>
    <p>twitter: <a href="https://twitter.com/#!/JEG2">@JEG2</a>  github: <a href="https://github.com/JEG2">github.com/JEG2</a> website: <a href="http://blog.grayproductions.net/">blog.grayproductions.net</a><p>
    <p></p>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>
</section>
<div class="clear"></div>
</section><!-- End of Main Content -->

