<section id="mainContent" class="home">
<section id="registrationAvailable">
<h3>Speakers</h3>
<div class='speaker-wrapper'>
  <img src='/images/aaron-patterson.png' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Aaron Patterson</div>
    <div class='session'>Keynote: TBA</div>
    <p>When he isn’t ruining people’s lives by writing software like
    phuby, enterprise, and neversaydie, Aaron can be found writing
    slightly more useful software like nokogiri. To keep up his
    Gameboy Lifestyle, Aaron spends his weekdays writing high
    quality software for ATTi. Be sure to catch him on Karaoke night,
    where you can watch him sing his favorite smooth rock hits of the
    70’s and early 80’s.</p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/chad-fowler.jpg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Chad Fowler</div>
    <div class='session'>TBA</div>
    <p></p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/ilya-grigorik.jpg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Ilya Grigorik</div>
    <div class='session'>TBA</div>
    <p>Ilya Grigorik is a developer, an open-source and Ruby evangelist,
    a data-geek, and a proverbial early adopter of all things digital.
    Now living in the Bay Area, Ilya is working on Social Analytics at
    Google. Prior to joining Google, Ilya was founder and CTO of PostRank
    , a social web analytics company, which was acquired by Google
    earlier this year. Currently, in his free time Ilya is scheming on
    how to bring Ruby to Google!</p>
  </div>
  <div class="clear"></div>
</div>

<div class='speaker-wrapper'>
  <img src='/images/matt-aimonetti.jpg' class='speaker' width='150' height='150' />
  <div class='speaker-info'>
    <div class='name'>Matt Aimonetti</div>
    <div class='session'>TBA</div>
    <p></p>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>
</section>
<div class="clear"></div>
</section><!-- End of Main Content -->

