<section id="mainContent" class="sub">
  <section class="contentBox registrationContent">
<h3>Registration</h3>
<p>Registration for the Aloha Ruby Conference gets you a slew of benefits, some sweet swag, access to some great parties and evening events, and of course, the company of top-notch Ruby talent.</p>

<p>NOTE: The registration form optionally asks for your address; if provided, we'll be sending you some awesome advanced swag, most of which is definitely limited edition. So...please give us your address! (Alas, we may only be able to ship to US addresses... but we'll do our best.)</p>

<%= render "shared/register" %>

<h4>REFUNDS AND TRANSFERS</h4>

<p>Refunds are available until September 19, 2012, 11:59pm HST. After that, tickets can only be transferred. The deadline for ticket transfers is October 1, 2012 at 11:59pm HST. Email the team with any questions or to arrange transfers.</p>
<div class="clear"></div>
</section>

</section><!-- End of Main Content -->
