<%= render :partial => 'shared/snippet', :locals => { :snippet_name => "sponsor_landing_content" } %>

<section id="mainContent" class="sub">
  <section class="contentBox sponsorContent">
  <h3>Ruby Sponsor</h3>
  <div class="rubySponsor">
    <div class="rubySponsorLogo sponsorLogo"></div>
    <div class="rubySponsorDesc sponsorDesc">
      <p>Integer auctor justo ac quam ornare faucibus. Donec nec odio magna. Ut fermentum mollis lobortis. Fusce est justo, venenatis egestas vestibulum ac, fringilla a odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, tortor in facilisis lacinia, lectus lectus bibendum nulla, vitae dapibus massa libero sed velit. Etiam non metus nec diam eleifend luctus. Nullam hendrerit adipiscing velit vel fermentum. Sed lobortis pellentesque nibh, eget accumsan lectus volutpat quis. Aenean vehicula justo ut velit facilisis dignissim. Nunc posuere dapibus lectus. Nullam ut nibh sed quam vulputate consectetur. Sed id orci in diam mollis fringilla in vitae arcu.</p>
    </div>
    <div class="clear"></div>
  </div>

  <h3>Gold Sponsors</h3>
  <div class="goldSponsor">
    <div class="goldSponsorLogo sponsorLogo"></div>
    <div class="goldSponsorDesc sponsorDesc">
      <p>Integer auctor justo ac quam ornare faucibus. Donec nec odio magna. Ut fermentum mollis lobortis. Fusce est justo, venenatis egestas vestibulum ac, fringilla a odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, tortor in facilisis lacinia, lectus lectus bibendum nulla, vitae dapibus massa libero sed velit. Etiam non metus nec diam eleifend luctus. Nullam hendrerit adipiscing velit vel fermentum. Sed lobortis pellentesque nibh, eget accumsan lectus volutpat quis. Aenean vehicula justo ut velit facilisis dignissim. Nunc posuere dapibus lectus. Nullam ut nibh sed quam vulputate consectetur. Sed id orci in diam mollis fringilla in vitae arcu.</p>
    </div>
    <div class="clear"></div>
  </div>

  <h3>Silver Sponsors</h3>
  <div class="silverSponsor"></div>
  <div class="silverSponsor">
    <div class="silverSponsorLogo sponsorLogo"></div>
    <div class="silverSponsorDesc sponsorDesc">
      <p>Integer auctor justo ac quam ornare faucibus. Donec nec odio magna. Ut fermentum mollis lobortis. Fusce est justo, venenatis egestas vestibulum ac, fringilla a odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, tortor in facilisis lacinia, lectus lectus bibendum nulla, vitae dapibus massa libero sed velit. Etiam non metus nec diam eleifend luctus. Nullam hendrerit adipiscing velit vel fermentum. Sed lobortis pellentesque nibh, eget accumsan lectus volutpat quis. Aenean vehicula justo ut velit facilisis dignissim. Nunc posuere dapibus lectus. Nullam ut nibh sed quam vulputate consectetur. Sed id orci in diam mollis fringilla in vitae arcu.</p>
    </div>
    <div class="clear"></div>
  </div>

  <h3>Bronze Sponsors</h3>
  <div class="bronzeSponsor">
    <div class="bronzeSponsorLogo sponsorLogo"></div>
    <div class="bronzeSponsorDesc sponsorDesc">
      <p>Integer auctor justo ac quam ornare faucibus. Donec nec odio magna. Ut fermentum mollis lobortis. Fusce est justo, venenatis egestas vestibulum ac, fringilla a odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis, tortor in facilisis lacinia, lectus lectus bibendum nulla, vitae dapibus massa libero sed velit. Etiam non metus nec diam eleifend luctus. Nullam hendrerit adipiscing velit vel fermentum. Sed lobortis pellentesque nibh, eget accumsan lectus volutpat quis. Aenean vehicula justo ut velit facilisis dignissim. Nunc posuere dapibus lectus. Nullam ut nibh sed quam vulputate consectetur. Sed id orci in diam mollis fringilla in vitae arcu.</p>
    </div>
    <div class="clear"></div>
  </div>

  <p>To learn more about sponsoring Aloha Ruby Conference, check out our <%= link_to "Call for Sponsors", call_for_sponsors_event_path(@event.year) %> page.</p>
  <div class="clear"></div>
  </section>

</section><!-- End of Main Content -->
