<%= render :partial => 'shared/snippet', :locals => { :snippet_name => "sponsor_landing_content" } %>

<section id="mainContent" class="sub">
  <section class="contentBox sponsorContent">
  <h3>Ruby Sponsor</h3>
  <p></p>

  <h3>Gold Sponsors</h3>
  <p></p>

  <h3>Silver Sponsors</h3>
  <p></p>

  <h3>Bronze Sponsors</h3>
  <p></p>

  <p>To learn more about sponsoring Aloha Ruby Conference, check out our <%= link_to "Call for Sponsors", call_for_sponsors_event_path(@event.year) %> page.</p>
  <div class="clear"></div>
  </section>

</section><!-- End of Main Content -->
