<%= render "admin/events/nav" %>

<h1>Editing sponsorship level</h1>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @event, @sponsorship_level] %> |
<%= link_to 'Back', admin_event_sponsorship_levels_path(@event) %>

