<section id="mainContent" class="sub">
  <section class="contentBox speakerContent">

  <h3><%= t('crud.edit', :model => t('activerecord.models.proposals.one')) %></h3>

  <%= semantic_form_for(@proposal) do |f| %>
    <% render "form_fields", :f => f %>
  <% end %>


  <%= link_to "Back to your Proposals", proposals_path %>
  </section>
</section>
