<section id="mainContent" class="sub">
  <section class="contentBox speakerContent">
  <h3>Thank you for submitting a talk for Aloha Ruby Conf</h3>
  <p>We will contact you if your we accept your proposal to talk at Aloha Ruby Conference</p>
  <h4>Your Submitted Proposals</h4>

  <table>
    <tr>
      <th><%= t(:title) %></th>
      <th colspan="3">Actions</th>
    </tr>

    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.title %></td>
        <td>
          <%= link_to "Forgot something?", :title => t('crud.edit', :model => t('activerecord.models.proposals.one')) %>
        </td>
      </tr>
    <% end %>
  </table>
  <br/>
  <%= link_to "Submit a new Proposal", new_proposal_path %>
  </section>
</section>
